.wizard-view {
  margin-left: auto;
  margin-right: auto;
}

.nav-bottom-view table {
    width: 100%;
}

.text-right {
  text-align: right;
}

.wizard-view .form-actions {
  padding-left: 18px;
}

input, textarea, select, .uneditable-input {
  height: auto;
}